body {
  margin-top: 0px;
  font-family: Calibri, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDE8D8;
  /* background-image: url('image/double-bubble.png'); */
}

#sideNav {
  display: block;
  height: auto;
  flex-basis: 360px;
  flex-shrink: 9999;
  direction: ltr;
  background-color: #FBB481;
  position: sticky;
  z-index: 0;
}

main {
  align-items: stretch;
  box-sizing: border-box;
  direction: ltr;
  display: flex;
  flex-basis: 744px;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  z-index: 0;
}

#quickAccess {}

@media screen and (max-height: 450px)
/* Colors
Sandy Brown #FCAC73
Apricot #FDD0AF
Dark Liver #52414C
Rick Black #011627
Mac N Cheese #FBB481

 */